<%if @site.id %>
  <h2><%= @site.title%></h2>
  Submenu
  <ul>
    <li><%= link_to "EDITAR INFORMACION", add_info_path(@site.id)%></li>
    <li><%=link_to "VER EQUIPO", site_team_members_path(@site.id)%></li>
    <li><%=link_to "VER TRATAMIENTOS", site_treatments_path(@site.id)%></li>
    <li>VER GALERIA</li>
  </ul>
<% end %>
