¡Tener un sitio web es esencial para el éxito de tu práctica!

<% if current_user %>
  <h2>Mis sitios:</h2>

  <ul>
  <% @sites.each do |site| %>
    <li><%= site.title%> - <%=link_to "Editar", add_info_path(site.id)%> </li>
  <% end %>
  </ul>

  <%= link_to "Crear un nuevo sitio", new_site_path %>
<% end %>
